<div class="container">
    <table class="table table-sm table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre archivo</th>
            </tr>
        </thead>
        <tbody>
            {% for item in documentos %}
                <tr>
                    <td scope="row">{{loop.index}}</td>
                    <td>{{item.titulo}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
