.bg-primary,
.btn-primary {
  background-color: #ffc400 !important;
}

.btn-primary {
  border: 0;
  font-family: Arial;
  font-weight: bold;
  font-size: 0.8rem;
}

.form-button {
  width: 80%;
  border-radius: 0.5rem !important;
}

.navbar-brand {
  color: #ffffff;
  font-family: "Segoe UI";
  font-weight: bold;
}

.font-small {
  font-size: 0.75rem;
}

.page-footer {
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
}

.login-form {
  padding: 3rem 30%;
}

form > * {
  margin: 5px;
  border-radius: 0.5rem !important;
  text-align: center;
}

.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.thead-light > tr > th {
  background-color: #ffeb87 !important;
  color: #ffc400 !important;
}

.table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #fdfce5;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: #fff;
}
