{% block footer %}
    <footer class="page-footer font-small white pt-4 fixed-bottom bg-primary">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mt-md-0 mt-3">
                    <h5 class="text-uppercase font-small">Ministerio de Gobierno y
                        <br/>Reforma del Estado</h5>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase font-small">Santa Fe, Santa Fe</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-md-0 mt-3">
                    <p>Subsecretaría de
                        <br/>Innovación Pública</p>
                </div>
                <div class="col-md-3 mt-md-0 mt-3">
                    <p>3 de Febrero 2649 Of:18/19, CP 3000<br/>0342-4506600 Int: 1533
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
