{% block navbar %}
    <nav class="navbar navbar-expand-sm navbar bg-primary mb-3">
        <div class="container">
            <p class="navbar-brand mx-auto text-uppercase mb-0">Ministerio de Medio Ambiente</p>
        </nav>
    </div>
{% endblock %}
