{% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <span class="navbar-text">&nbsp;</span>
        <div class="navbar-collapse collapse" id="navbar8">
            <p class="abs-center-x text-uppercase navbar-brand">Ministerio de Medio Ambiente</p>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
